*{
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;

}
body{
	padding: 20px 50px 10px 0px;
	background-image: url(bg-repeat.jpg);
	display: flex;
	justify-content: center;
	

}
main{
	height: 100%;
	display: flex;
	justify-content: space-around;
	width: 90%;
	padding: 10px;

}
form{
	padding: 20px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 470px;
	float: right;
	height: 442px;

}
form input{
	margin: 10px;
}
form p{
	font-weight: normal;
}
form span{
	font-size: 10px;
	color: red;
	margin-top: -10px;
	margin-left: 10px;
}
.obrigatorio{
	display: none;
}
.inptP{
	padding: 10px 10px;
	border-radius: 5px;
	border: 1px solid black;
}
.msg{
	border-radius: 5px;
	border: 1px solid black;
	padding: 5px 10px 100px;

}
.enviar{
	padding: 15px 20px;
	background-color: #32a85e;
	color: whitesmoke;
	border: none;
	border-radius: 5px;
	font-weight: bolder;
	margin-top: 50px;

}
.col{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	color: whitesmoke;
}
.col h1{
	font-weight: bolder;
	margin-bottom: 20px;
}
.col p{
	width: 340px;
	font-weight: bold;
}
.pRetornar{
	font-weight: bold;
	text-align: center;
	margin-top: 50%;
	text-align: center;
}